body{
    margin-top: 12%;
    background-color: rgb(243, 238, 238);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin:20px;
   /* background-color: rgb(78, 91, 86); */
   text-align: center;
}
button{
    width: 80px;
    height: 50px;
    margin-top: 5px;
    border-radius: 20%;
    text-align: center;
    background-color: rgb(45, 42, 42);
    color: #ffffff;
    font-size: 18px;
}
.Equals{
    width: 165px;
    background-color:rgb(66, 159, 218);
    color: white;
}
.operators{
    background-color: rgb(66, 159, 218);
    color: white;
}
input{
    height: 90px;
    width: 330px;
    margin-top: 10px;
    font-size: 30px;
}

.Calculator{
    text-align: center;
    background-color:black;
    padding: 10px;
    height: 480px;
    width: 380px;
    color: white;
}